<div class="timeselector">
    <!-- <label for="customRange2" class="form-label">Example range</label>
    <input type="range" class="form-range" min="0" max="5" id="customRange2" [(ngModel)]="customTimeInterval" (input)="onCustomTimeIntervalChange()"> -->
    <!-- <select class="btn custom" [(ngModel)]="selectedTimeInterval" (change)="requestLogs()">
        <option value="5min">Last 5 Minutes</option>
        <option value="10min">Last 10 Minutes</option>
        <option value="30min">Last 30 Minutes</option>
        <option value="custom">Custom Range</option>
        <!-- Add other custom time intervals as needed -->
    <!-- </select> --> 
    <div class="selector">
        <!-- <label for="customRange2" class="form-label">Custom Range: {{ selectedTimeInterval }} minutes</label> -->
        <div class="PB-range-slider-div">
            <input type="range" class="form-range slider" min="5" max="60" step="5" id="customRange2"  [(ngModel)]="selectedTimeInterval">
            <p class="PB-range-slidervalue">{{ selectedTimeInterval }} minutes</p>
        </div>

    </div>
    <button class="btn custom" (click)="requestLogs()">Request Logs</button>


</div>
  
  <!-- Display logs in a table -->
<div class="table-container">
    <table class="log-table">
        <thead>
            <tr>
                <th>Log Username</th>
                <th>Log Ip</th>
                <th>Log traceId</th>
                <th>Log requestBody</th>
                <th>Log Time</th>
                <!-- Add more columns if needed -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let log of logs">
                <td>{{ log.username }}</td>
                <td>{{ log.clientIp }}</td>
                <td>{{ log.traceId }}</td>
                <td>{{ log.requestBody }}</td>
                <td>{{ log.requestDateTimeUtc }}</td>
                <!-- Add more columns if needed -->
            </tr>
        </tbody>
    </table>
</div>
