*{
    margin: 0;
    padding: 0;
}
input[type=text], [type=email],[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #f1f1f1;
    display: inline-block;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    box-sizing: border-box;
    color: #83764F;
}
::placeholder{
    color: #d2d2d2;
}

button{
    width: 30%;
    background-color:#83764F;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: 70%;

}
button:hover {
    background-color: #A2A378;
}
.heading{
    color: #83764F ;
    text-align: center;
    margin: 10px 0;
    font-size: 3vw;
  }
  .subtext{
    color: #83764F;
    text-align: center;
  }
.signup{
    border-radius: 5px;
    background-color: #fff;
    padding: 30px;
    width: 40%;
    margin: 0 auto;
    
}
input.ng-invalid.ng-touched{
    border: red 2px solid;
}
.toNavigate{
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    text-align:end;
    padding: 0px;
}
.containers{
    background-color: #A0D8B3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.googleLogin{
    padding: 10px;
    position: relative;
    left: 63%;
}